.button-style{
    color: #FFAD47;
    background-color: #FFFFFF;
    float: right;
    padding: 5px;
    border: 2px solid #FFAD47;
    font-size: 14px;
    cursor: pointer;
    margin-top:20px;
    min-width: 70px;
    text-align: center
}
.button-style:hover{
    color: #FFFFFF;
    background-color: #FFAD47;
}