.card-container {
    width: 100%;
    display: inline-block;
    margin-top: 30px;
    padding: 0;
}
.card-container li{
    display: inline;
    min-height: 100px;
    cursor: pointer;
    float: left;
    width: 50%;
    padding:10px;
    margin-bottom: 25px;
}
.card-container li:first-child{
    margin-left: 0;
}

.card-container .blog-item .left-contain, .card-container .blog-item .author , .card-container .blog-item .posts-number {
    float: left;
}

.card-container .blog-item .author .name{
    font-style: italic;
    color: #f7ae54;

}
.card-container .blog-item .author{
    display: inline-block;
    position: absolute;
    bottom: 6px;
    left: 10px;

}
.card-container .blog-item .left-contain .card-type{
    color: #616161;
    font-size: 16px;
}
.card-container .blog-item .left-contain .posts-number{
    color: #616161;
    font-weight: bold;
    font-size: 12px;
}
.card-container .blog-item .right-contain{
    float: right;
}

.card-container .blog-item .blog-icon{
    font-size: 40px;
    color: #f7ae54;
    font-weight: bold;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    position: relative;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}

.blog-loader{
    display: inline;
    min-height: 100px;
    cursor: pointer;
    float: left;
    width: 50%;
    padding: 10px;
    margin-bottom: 25px;
}