



.animationLoading{
    background: #fff;
    border-radius: 3px;
    display: block;
    height: 324px;
    width: 100%;
    padding: 12px;
    margin-top: 52px;
}
@keyframes animate {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }

}

#container{
    width:100%;
    height:50px;
}
#one,#two,#three,#four,#five,#six
{
    position:relative;
    background-color: #CCC;
    height: 6px;
    animation-name: animate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
    background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    -webkit-background-size: 800px 104px;
}

#one{
    left: 0;
    width: 50%;
    height: 10px;
}

#two{
    left: 0;
    top: 10px;
    width: 30%;
}

#three{
    left:0;
    top:15px;
    width: 80%;
}

#four{
    left:0px;
    top:30px;
    width: 90%;
}

#five{
    left:0px;
    top:45px;
    width: 60%;
}

#six {
    left: 0px;
    top: 60px;
    width: 10%;
}

.pulse-loader{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
